<div class="home">
    <h1>Welcome to our Yacht Booking App!</h1>
    <p>Explore our luxurious yachts and book your dream vacation today.</p>
    
    <h2>Featured Yachts</h2>
    <div class="yacht-list">
        <div class="yacht">
            <img src="yacht1.jpg" alt="Yacht 1">
            <h3>Yacht 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="yacht">
            <img src="yacht2.jpg" alt="Yacht 2">
            <h3>Yacht 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="yacht">
            <img src="yacht3.jpg" alt="Yacht 3">
            <h3>Yacht 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    
    <button class="btn">Book Now</button>
</div>